<p>inventory-published-details works!</p>

<h2>this need be a cards horizontal scroll with the suggestes inventory list sites NGFOR ON suggested inventory sites published products</h2>
<div class="card-group">
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

<form autocomplete='off' [formGroup]="formInventoryPublished">
  <div class="form-group row">
    <label class="col-2 col-form-label">Product</label>
    <div class="col">

      <select class="form-control" formControlName="idProduct" [(ngModel)]="inventoryPublished.idProduct"
      (ngModelChange)='onProductSelected($event)'>
        <option *ngFor= "let l of productDetailsList"  [ngValue]='l.productId'>
          {{l.productId + " "+ l.productCode + " "+ l.productCategory +" "+ l.productBrand +" "+ l.productName}}
      </option>
      </select>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-la bel">Quantity</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Quantity of product"
             formControlName="inventoryPublishedQuantityProducts"
             [class.is-invalid]="invalidInventoryPublishedQuantityProducts"
             [(ngModel)]="inventoryPublished.inventoryPublishedQuantityProducts">
          <small *ngIf="invalidInventoryPublishedQuantityProducts" class="text-danger">
            Invalid quantity
      </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Published Date</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Select Publish Date"
             formControlName="inventoryPublishedDate"
             [class.is-invalid]="invalidInventoryPublishedDate"
             [(ngModel)]="inventoryPublished.inventoryPublishedDate">
          <small *ngIf="invalidInventoryPublishedDate" class="text-danger">
            Invalid entry date
      </small>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button  (click)="shareInventoryPublished()" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>
<hr>
<pre>
  Form : {{ formInventoryPublished.valid}}
  <br>
  Status : {{ formInventoryPublished.status}}
</pre>

<pre>
  {{formInventoryPublished.value | json}}
</pre>

<h2>Info about the product in entry inventory - warehouse - published </h2>
<div *ngFor= "let product of showProductDetails"  class="card" style="width: 18rem;">
<!--    need coming in the object product <img src="..." class="card-img-top" alt="..."> -->
  <div class="card-body">
    <ng-container>
        <ng-container *ngIf="product?.productName; else defaultValue">
          <h5 class="card-title">Name: {{product?.productName}}</h5>
        </ng-container>
      <ng-template #defaultValue>
        No value
      </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.productCode; else defaultValue">
        <p class="card-text">Code: {{product?.productCode}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
  </ng-container>

      <ng-container>
        <ng-container *ngIf="product?.productBrand; else defaultValue">
          <p class="card-text">Brand: {{product?.productBrand}}</p>
        </ng-container>
      <ng-template #defaultValue>
        No value
      </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.productDesc; else defaultValue">
        <p class="card-text">Desc: {{product?.productDesc}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.productUnit; else defaultValue">
        <p class="card-text">Unit: {{product?.productUnit}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.productPrice; else defaultValue">
        <p class="card-text">Price: {{product?.productPrice}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.productCostUnit; else defaultValue">
        <p class="card-text">Cost: {{product?.productCostUnit}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>
    <ng-container>
      <ng-container *ngIf="product?.inventoryName; else defaultValue">
        <p class="card-text">Cost Unit :{{product?.productCostUnit}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>
    <ng-container>
      <ng-container *ngIf="product?.inventoryManagerm; else defaultValue">
        <p class="card-text">Manager: {{product?.inventoryManagerm}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.stateName; else defaultValue">
        <p class="card-text">State: {{product?.stateName}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.warehouseTotalProduct; else defaultValue">
        <p class="card-text">Warehouse total: {{product?.warehouseTotalProduct}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.warehouseStockProduct; else defaultValue">
        <p class="card-text">Warehouse stock: {{product?.warehouseStockProduct}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

    <ng-container>
      <ng-container *ngIf="product?.warehousePublishedProduct; else defaultValue">
        <p class="card-text">Warehouse published: {{product?.warehousePublishedProduct}}</p>
      </ng-container>
    <ng-template #defaultValue>
      No value
    </ng-template>
    </ng-container>

  </div>
</div>

<h2>Historic published products</h2>

<div>
  <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
    <mat-label>Filter {{filter.name}}</mat-label>
    <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
      (change)="filterChange(filter,$event)">
      <option value="">-- Select {{filter.name}} --</option>
      <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
    </select>
  </mat-form-field>
  &nbsp;
  <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button>
</div>

<div class="container">
<div class="table-responsive">

<mat-table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="Product Name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.publishedProductName}} </td>
  </ng-container>

  <ng-container matColumnDef="Product Code">
    <th mat-header-cell *matHeaderCellDef> Product Code </th>
    <td mat-cell *matCellDef="let element"> {{element.publishedProductCode}} </td>
  </ng-container>

  <ng-container matColumnDef="Quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.publishedQuantityProducts}} </td>
  </ng-container>

  <ng-container matColumnDef="Published Date">
    <th mat-header-cell *matHeaderCellDef> Published Date </th>
    <td mat-cell *matCellDef="let element"> {{element.publishedDate}} </td>
  </ng-container>

  <ng-container matColumnDef="Status Product">
    <th mat-header-cell *matHeaderCellDef> Status Product </th>
    <td mat-cell *matCellDef="let element"> {{element.idStatusPublishedProduct}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
</div>




